@model List<ProyectoAula4_SantiagoVieira_JohnSebastianVillegas.IdeaDeNegocio>

<h2>3 Ideas de Negocio Más Rentables</h2>

<ul>
    @foreach (var idea in Model)
    {
        <li>@idea.Nombre</li>
    }
</ul>

