@model ProyectoAula4_SantiagoVieira_JohnSebastianVillegas.IdeaDeNegocio

@{
    ViewBag.Title = "Idea con Mayor Inversión en Infraestructura";
}

<h2>Idea con Mayor Inversión en Infraestructura</h2>

<p>La idea de negocio con la mayor inversión en infraestructura es:</p>
<p>Nombre: @Model.Nombre</p>
<p>Inversión en Infraestructura: @Model.ValorInversionInfraestructura</p>

