@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Proyecto de Aula 4</title>
</head>
<body>
    <h1>Proyecto de Aula 4</h1>

    <p>Este es el proyecto sobre ideas de negocio para el gobierno.</p>

    <h2>Integrantes del Proyecto:</h2>
    <ul>
        <li>Santiago Vieira Ceballos</li>
        <li>John Sebastian Villegas Lopez</li>
        
    </ul>
</body>
</html>
